app.html
app.js
buttons.html
dice1.jpeg 
dice2.jpeg 
dice3.jpeg 
dice4.jpeg 
dice5.jpeg
dice6.jpeg 
diceroll.css
diceroll.html 
diceroll.js
check.html
check.css
check.js
temparature.html 
temperatur.js 
temperature.css
model.py 
numberguesinggame.js
numberguessinggame.html
aswin
node_modules
tutnodejs