body{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c4d69113-faa1-4adf-8abe-b410fadc206d/dfwkj0m-cf132d96-ff32-4a6e-9872-4c5d0e0c46c1.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2M0ZDY5MTEzLWZhYTEtNGFkZi04YWJlLWI0MTBmYWRjMjA2ZFwvZGZ3a2owbS1jZjEzMmQ5Ni1mZjMyLTRhNmUtOTg3Mi00YzVkMGUwYzQ2YzEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.or4TNfBHTkRkxdtVZzT7S9R3R_LmgYbskFmWx-9vLLA");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
}
#clockcont{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    
    height: 100vh;
}
#clock{
    font-family:monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color:rgb(11, 9, 7);
    padding:37px;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 100%, 0.1);
    width: 100%;
}