body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}
h1{
    color: rgb(9, 104, 63);
    text-align: center;
    font-family: Algerian;
    text-shadow: 2px 2px 10px;
}
form{
    background-color: rgb(140, 247, 140);
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(1, 33, 1) ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    font-size: 2em;
    font-weight: bold;
    color:rgb(0, 72, 0);
}
input {
    width:50%;
    text-align: center;
    font-size: 2em;
    border:2px solid hsl(0, 0%, 90%);
    border-radius: 10px;
    margin-top:5px;
    margin-bottom: 15px;
}
button{
    background-color: rgb(18, 165, 18);
    color: white;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
button:hover{
    background-color: red;
}
#total{
    font-size: 2em;
}
#total-amount{
    color: rgb(0, 113, 0);
    font-weight: bold;
}