body{
    font-family:Bell MT ;
    background-color: rgb(114, 54, 183);
}
h1{
    color:rgb(12, 18, 100);
}
form{
    background-color: rgb(136, 219, 244);
    text-align: center;
    max-width:350px;
    margin:auto;
    padding :25px;
    border-radius:10px;
    box-shadow: 10px 10px 10px rgb(3, 38, 44);
}
#num{
    width:50%;
    text-align: center;
    font-size: 2em;
    color:rgb(15, 15, 87);
    border: 2px solid rgb(27, 18, 110);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    color:rgb(15, 15, 87);
    font-size: 18px;
    font-weight: 600; 
}
#ans{
    font-weight: 600;
    font-size: 2em;
    color:rgb(8, 8, 74);
    font-family: sans-serif;
}
#sub{
    background-color:rgb(26, 26, 142);
    color: hsl(197, 33%, 96%);
    margin-top: 15px;
    font-size: 1.25em;
    border: none;
    padding:10px 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(3, 38, 44);
} 
#sub:hover{
    background-color: rgb(8, 8, 74);
}